body{
    background-color: DarkRed;
    background-image: url('../images/design/bg2.jpg');
}
#page{
    width: 1200px;
    background-image: url('../images/design/bg1.jpg');
    border: 1px solid black;
    margin: 30px auto;
}
#inner_content{
    min-height: 700px;
    padding: 0 10px;
}
#footer{
    text-align: center;
}
.clear_fix{
    clear:both;
}
h2{
    text-align: center;
}

/*GM Page*/
#gm_players_list{
    border: 2px solid grey;
    margin: 10px 0;
    min-height: 680px;
    width: 350px;
}